<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>

<body>
    <h2>Monthly Activity Report - {{month}}-{{day}}-{{year}}</h1>
    <h3>Welcome {{user_name}} </h1>
    <h3>Here's your activity summary for the month of {{month}} {{year}}:</p>
    <h3>These are the Order Details that you have made in this month</h3>
    {% if order_list %}
    {% for i in order_list %}
    <p>Product : {{i.product_name}}</p>
    <p>Price: {{i.rate}}</p>
    <p>Qunatity : {{i.quantity}}</p>
    <h3>Total Amount : {{i.amount}}</h3>
    </h1>
    {% endfor %}
    <h3>Total Products: {{length}}</h3>
    <h3>Total Expenditure : {{expenditure}}</h3>
    {% else %}
    <h3>You haven't Purchased anything in this month,Please Visit the store</h3>
    {% endif %}

    <h1>Best Regards,</h1>
    <h2>Grocery Store</h2>
</body>

</html>